body {
	margin: 10px;
	padding: 0;
}

header,nav,aside,main,footer {
	border: 1px solid black;
}

.wrapper {
	background-color: #008080;
	width: 80%;
	min-width: 340px;
	max-width: 1100px;
	margin-left: auto;
	margin-right: auto;

}

header {
	padding: 10px;
	text-align: center;
	text-shadow: 2px 2px #ff0000;
}

nav {
	background-color: #F1C40F;
}

a {
	text-decoration: none;
	display: inline-block;
	background-color: white;
	margin-left: 2px;
	padding: 2px;
}
aside {
	width: 20%;
	background-color: black;
	clear: both;
	float: left;
}

footer {
	text-align: center;
	background-color: orange;
}