header,nav,main,aside,footer {
	border: 1px solid black;
}

body{
	background-color: black;
}

#wreppar {
	width: 80%;
	height: auto;
	min-width: 340px;
	max-width: 1100px;

margin-left: auto;
margin-right: auto;
background-color: gray;
outline: 2px solid red;

}

header {
	padding: 20px;
	text-align: center;
	font-family: sans-serif;
}


nav {
	box-sizing: border-box;
	background-color: black;

}

a {
	display: inline-block;
	text-decoration: none;
	background-color: yellow;
	margin-left: 10px;
}


aside{

	width: 30%;
	padding: 4px;


}

main {
	width: 65%;
	float: right;
	padding: 4px;

	
}



footer {
	background-color: violet;
	padding: 10px;

}

footer>span{
	font-size: 0.8em;
	text-align: center;
	margin-left: 2px;
	
	color: black;
}